*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:url("assets/images/iron-man-wallpaper-thumb.jpg");
    opacity: 100%;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    /* filter: contrast(105%) saturate(110%) brightness(105%); */

}



.calculator{
    
    background-color: rgba(56, 106, 153, 0.884);
    
    border: 1px solid rgba(56, 56, 56, 0.808);
    padding: 30px;
    border-radius: 15px;

}



.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    margin: 10px;
    background: transparent;
    /* background-color: brown; */
    box-shadow: -10px -5px 15px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(43, 42, 42, 0.712);
}



form .display{
    display: flex;
    justify-content: flex-end;
    margin: 30px, 0;
    background-color: rgb(66, 60, 60);
    border-radius: 15px;
    margin-bottom: 5px;
    
}



form .display input{
    text-align: right;
    flex: 1;
    font-size: 42px;
    
}


form .equal{
    width: 142px;
}


 .container form .operator{
    color: black;
    font-weight: 600;


}
@media (max-width: 576px)  {
  .container {
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding: 10px;
  }

  .calculator {
    width: 100%;
    max-width: 320px;
    padding: 20px;
    border-radius: 10px;
  }

  .calculator form input {
    width: 50px;
    height: 50px;
    font-size: 18px;
    margin: 8px;
  }

  form .display input {
    font-size: 32px;
  }
}